.head-back{
    background-color:#1b263b;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.Navlinks:hover{
    color: #e0e1dd !important;
    
}
.Navlinks{
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #778da9 !important;
}
.Navbutton{
    font-size: 15px !important;
    font-weight: 700 !important;
    border-radius: 13px !important;
    background-color: #415a77cc !important;
    color: #e0e1dd !important;
    border: 1px solid #e0e1dd !important;
    font-family:Georgia, 'Times New Roman', Times, serif !important;

}
.Navbutton:hover{
    background-color: #0d1b2a !important;
    color: #778da9 !important;
    border: 1px solid #778da9  !important ;
}
